.cards {
  margin-bottom: 20px;
  .card {
    border: solid #e5e5e5;
    border-width: 1px;
    margin-bottom: 20px;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
  }
  .card:hover {
    transition: all 0.7s ease;
    box-shadow: 0 0 15px -8px black;
  }
  .card-body {
    margin-top: 4rem;
  }
  .logo {
    display: flex;
    justify-content: right;
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .info {
    padding: 2rem 0rem;
  }
}

.cards-name {
  text-align: center;
  padding: 2rem;
}
.right {
  margin-left: 20%;
}
