.cards {
  margin-bottom: 1.25rem;
  .card {
    border: solid $caed-border;
    border-width: 0.062rem;
    margin-bottom: 1.25rem;
    display: flex;

    justify-content: space-around;
  }
  .card:hover {
    transition: all 0.7s ease;
    box-shadow: 0 0 0.93rem -0.5rem $black;
  }
  .card-body {
    margin-top: 4rem;
  }
  .logo {
    display: flex;
    justify-content: right;
    margin-top: 1.2rem;
    font-size: 2rem;
  }
  .info {
    padding: 2rem 0 2rem 1rem;
  }
}

.cards-name {
  text-align: center;
  padding: 2rem;
}
