.experience {
  .experience-name {
    color: $logoblue;
  }
  .controw {
    padding: 6.6rem 0 2rem 0;
  }
  .logo {
    color: $logoblue;
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  .font {
    color: $pink;
  }
  p {
    color: $light-gray;
  }
}
