.personalized {
  margin: 3rem 0 4rem 0;
  .right {
    border: none;
  }
  .left {
    margin-right: 2rem;
  }
  .card-title {
    padding-top: 2.3rem;
  }
  .card-text {
    padding-bottom: 1.25rem;
  }
  .btn-primary {
    padding: 0.25rem 2rem;
    margin-right: 2rem;
    background-color: $logoblue; // #3021d7;
    border-style: none;
  }
  .btn-secondary {
    padding: 0.25rem 2rem;
    margin-right: 2rem;
    background-color: $white;
  }
  .btn-secondary:hover {
    background-color: $black;
    color: $white;
    transition: all 1s ease;
  }
}
