.support {
  background-image: url(assets/images/support-background.png);
  padding-bottom: 4rem;
  .support-name {
    padding-top: 5rem;
    color: $white;
    text-align: center;
  }
  .support-info {
    color: $white;
    padding-top: 1.37rem;
    font-size: 13.33px;
    text-align: center;
    margin-bottom: 3rem;
  }

  .card-logo {
    font-size: 3rem;
    text-align: center;
    padding-top: 3.5rem;
  }
  .card-title {
    padding-top: 2rem;
    text-align: center;
  }
  .card-text {
    padding: 0.62rem 2.1rem 1.8rem 2.1rem;
    text-align: center;
  }
  .card-body {
    color: $white;
    padding-bottom: 1.25rem;
  }
  .card-body:hover {
    background-color: $white;
    color: $black;
    border-radius: 0.31rem;
    transition: all 0.7s ease;
  }
}
